/* 
* TODO: 

* fonts
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
}

/* menu */

nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    font-size: 20px;
}

a {
    cursor: pointer;
}

a:hover {
    color: #ff8f00;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu-button {
    display: none;
}

a {
    margin: 0 25px;
}

/* header */

header {
    background-image: url('assets/hotel.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
}

.reservation {
    width: 375px;
    background-color: rgba(0, 0, 0, 0.36);
    position: relative;
    left: 10%;
}

.title {
    background: #ff8f00;
    padding: 10px;
}

form {
    padding: 15px;
}

input, select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.reserve-button {
    background-color: #ff8f00;
    border: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 10px;
}

.reserve-button:hover {
    background-color: #ffc374;
}

.date {
    width: 49%;
}

select {
    width: 49%;
}

/* intro */

.intro {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.images, .intro-text {
    width: 50%;
    padding: 30px;
}

.intro-text p {
    margin-top: 20px;
    font-size: 20px;
}

/*  rooms  */

.rooms {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.room-section {
    width: 30%;
    margin: 20px;
    box-shadow: 5px 5px 5px #c6c6c6;
}

.room-section img {
    width: 100%;
    height: 250px;
}

.room-info {
    padding: 10px;
    margin-top: -5px;
    border: 1px solid #eaeaea;
    border-top: none;
}

.price {
    font-size: 20px;
    color: #959595;
}

h2, .price, .size, .features {
    margin-top: 10px;
}

.room-info .reserve-button {
    margin-top: 20px;
}

.fa {
    font-size: 20px;
}

/*  contact */

.contact {
    text-align: center;
    margin-top: 20px;
}

li {
    list-style-type: none;
}

li .fa {
    margin-right: 15px;
    color: #ff8f00;
}

.contact form {
    width: 50%;
    margin: auto;
}

.contact form input[type=submit] {
    color: white;
    background: black;
    border: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

/*  footer  */

footer {
    height: 150px;
    width: 100%;
    background-color: black;
    margin-top: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1 {
    margin-top: 20px;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    margin: 25px 5px;
}

small {
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (max-width: 540px) {
    nav, .menu {
        flex-direction: column;
    }

    .menu {
        margin: auto;
        display: none;
    }

    .visible {
        display: initial;
        display: flex;
    }

    .menu-button {
        display: initial;
    }

    .logo {
        display: none;
    }

    a {
        margin: 10px;
        text-align: center;
    }
}

