$orange: #ff8f00;
$orange_highlight: #ffc374;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Abel', sans-serif;
    max-width: 136em;
    margin: auto;
}

/* menu */

nav {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    background: #fff;
    width: 100%;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

a {
    cursor: pointer;
    &:link, &:active, &:visited {
        text-decoration: none;
        color: #000;
    }
    &:hover {
        color: $orange;
    }
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu-button {
    display: none;
}

a {
    margin-right: 2em;
}

/* header */

header {
    background-image: url('assets/hotel.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: 55em;
    display: flex;
    align-items: center;
    width: 100%;
}

.reservation {
    width: 27em;
    background: rgba(0, 0, 0, 0.36);
    position: relative;
    left: 10%;
}

.title {
    background: $orange;
    padding: 0.3em 0.5em;
}

#reservation-form {
    padding: 1em;
}

input, select {
    margin: 0.7em 0;
    padding: 0.75em;
    width: 100%;
}

#input-arrival, #input-adults, #input-room {
    width: 49%;
}

#input-departure, #input-children, #input-provision {
    width: 50%;
}

.reserve-button {
    background: $orange;
    border: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 1.4rem;
    width: 100%;
    padding: 0.5em;
    &:hover {
        background: $orange_highlight;
    }
}

/*  rooms  */

.rooms {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
    width: 100%;
}

.room-section {
    width: 33%;
    margin: 0 1.2em;
    box-shadow: 0.3em 0.3em 0.3em #c6c6c6;
    img {
        width: 100%;
        height: 18em;
    }
}

.room-info {
    padding: 0.7em;
    margin-top: -0.35em;
    border: 0.07em solid #eaeaea;
    border-top: none;
    .reserve-button {
        margin-top: 1.4em;
    }
}

.price {
    font-size: 1.5rem;
    color: #959595;
}

h2, .price, .size, .features {
    margin-top: 0.7em;
}

.fa {
    font-size: 1.5rem;
}

/* intro */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em 0;
    padding: 0 1.2em;
    width: 100%;
}

.intro-text, img {
    width: 49%;
}

img {
    object-fit: cover;
}

.intro-text p {
    font-size: 1.5rem;
    margin-top: 0.7rem;
}

/*  contact */

.contact {
    margin-top: 2em;
    padding: 0 1.2em;
    width: 100%;
}

li {
    list-style-type: none;
    .fa {
        margin-right: 1em;
        color: $orange;
    }
}

#contact-form {
    margin-top: 1.5em;
}

#contact-form input[type=submit] {
    color: #000;
    background: $orange;
    border: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    &:hover {
        background: $orange_highlight;
    } 
}

/*  footer  */

footer {
    height: 10em;
    width: 100%;
    max-width: 136em;
    background: #000;
    margin-top: 2em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-top: 2em;
    }
}

.links {
    display: flex;
    flex-direction: row;
    a {
        margin: 1.7em 0.4em;
        &:link, &:active, &:visited {
            color: #fff;
        }
        &:hover {
            color: $orange;
        }
    }
}

#back-to-top {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: $orange;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        position: sticky;
        top: 0;
        z-index: 100;
    }
  
    nav, .menu {
        flex-direction: column;
    }

    .menu {
        margin: auto;
        display: none;
        position: absolute;
        background: white;
        width: 100%;
        top: 3em;
    }

    .visible {
        display: initial;
        display: flex;
    }

    .menu-button {
        display: initial;
        width: 100%;
        text-align: left;
    }

    .logo {
        display: none;
    }

    a {
        margin: 10px;
        text-align: center;
    }

    .reservation {
        left: 0;
        margin: auto;
    }

    .rooms {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .room-section {
        width: 80%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 480px) {
    .room-section {
        width: 95%;
    }
    .intro {
        flex-direction: column;
        padding: 0;
        img {
            margin-top: 2em;
        }
    }
    .intro-text, img {
        width: 95%;
        margin: auto;
    }
}